@import 'tailwindcss';

/* Semua konfigurasi kustom disatukan di sini */
@theme {
    /* Animasi Smooth Refresh */
    --animate-fade-in-smooth: fadeIn 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(12px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Font Kustom */
    --font-sans: 'Instrument Sans',
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

/* Integrasi Flowbite */
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

/* Deteksi File Source untuk Utility Classes */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../app/Filament/**/*.php';
@source '../../vendor/filament/**/*.blade.php';